.add-section-container{
    margin-bottom:30px;
}
.button{
    width: 100%;
    height: 3rem;
    display: block;
    color:#333;
    background-color: #8129D9;
    border: 0;
    color:#fff;
    padding: 5px 0;
    border-radius: 30px;
  }
  .button:hover{
    background-color: #5D18A2;
    transition: 0.3s;
  }
  .close-tab{
    text-align: center;
    background-color: rgb(231, 227, 227);
    color: #333;
    transition: 0.3s;
    border-radius: 100px;
    width: 20%;
    float:right;
    margin:20px 
    }