.page-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left:5vh;
  border-right: 1px solid gray;
}
.texts,.post-text-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2em;
  gap: 10px;
  margin: 10px;
}

.content{
  display: flex;
  text-align: center;
  justify-content: center;
}
.right-side-container{
  grid-area: 3/3/2/3;;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: end;
  margin: 0 20px 0 0;
  gap:0;
}
.toggle-button {
  width: 30px; 
  height: 15px; 
  background-color: #ccc;
  position: relative;
  border-radius: 50px;
  cursor: pointer;
  margin:0px 0px 10px 0px ;
}
.toggle-button.active {
      background-color: #2196f3;
}
.toggle-knob {
      width: 12px;
      height: 12px;
      background-color: white;
      position: absolute;
      top: 1.3px;
      left: 1.4px;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
}
    
.toggle-button.active .toggle-knob {
  transform: translateX(14px);
}
.delete-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.delete-btn-icon{
  cursor: pointer;
  width: 30px;
  height: 20px;
  float: right;
  color:red;
}
.delete-btn-icon:hover{
  background-color: rgb(194, 194, 210);
  transition: 0.4s;
  border:1px solid  rgb(194, 194, 210);
  border-radius: 2em;
  color:rgb(255, 68, 0);
}

.content-container{
grid-area: 2/2/2/2;
}
.drag-icon{
  grid-area: 2/1/2/2;
 
}