
   header a{
    text-decoration: none;
    color:inherit;
  }

header nav{
  display: grid;
  width: 100%;
  gap:20px
}
  header .menu-container,header .nav-right{
    display: flex;
    gap:15px;
    justify-content: space-between;

    border: 1px solid rgb(198, 185, 168);
    border-radius: 4rem;
    margin:0px 20px 0px 20px;
  }
  header .nav-right{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:10px;
    padding:10px;
    text-align: center;
    justify-content: center;
  }
  header .nav-right .logo{
    display: flex;
    justify-content: flex;
    align-items: center;
  }
  header .nav-right .form-route{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:end;
    gap:2rem;
  }
  header .nav-right .form-route a{
    background-color: rgb(163, 191, 188);
    color:whitesmoke;
    border:1px solid rgb(158, 151, 151);
    border-radius: 1em;
    padding:10px;
    color: black;
    opacity: 0.7;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 1px 2px black;
    transition: 0.4s;
  }
  header .nav-right .form-route a:hover{
    background-color: #F3F3F1;
    transition: 0.4s;
  }
  .nav-main-menu{
    display: flex;
    background-color: #555;
    border-radius: 4rem;
    align-items: center;
    justify-content: center;
    background-color: #cecece;
    width: 7rem;
    font-size: large;

  }
.menu-trigger{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-trigger span{
    font-size: 3rem;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(72, 60, 60);
    color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:lighter;
  }
  .menu-trigger .logo{
    color:black;
    background-color: #F9EAD7;
    border: 0.1px solid grey;
    transition: 0.4s;
  }
  .menu-trigger .logo:hover{
    color:yellow;
    background-color:  rgb(72, 60, 60);
    border: 0.1px solid grey;
    transition: 0.4s;
  }

  
  .dropdown-menu{
    position: absolute;
    top: 100px;
    right: 20px;

    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
  }
  
  .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
    background-color: rgb(72, 60, 60);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
    background-color: red;
    background-color: rgb(72, 60, 60);
    color: white;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  
  h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
    color: white;
    text-transform: uppercase;
  }
  
  h3 span{
    font-size: 14px;
    font-weight: 400;
  }
  
  .dropdown-menu ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
 .appearance-link{
    display: flex;
    margin-left: 10vh;
    align-items: center;
    padding: 1vh;;
    font-weight: bolder;
    transition: 0.4s;
    border-radius: 4em;
 }
 .appearance-link:hover{
  background-color: white;
  border: 0.5px solid grey;
  border-radius: 4em;
  transition:0.4s;
 }
 .appearance-link .appearance-icon{
    width: 3vh;
    height: 3vh;
    margin-right: 0.5vh;
 }