*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {

  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}

body {
  color: #333;
  border: 1px solid; 
  background-color: #F3F3F1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F1;

}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;

}
p{
  display: inline;
}
header a{
  text-decoration: none;
  color:inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 2rem;
  border:1px solid black;
  width: 5rem;
  height: 5rem;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  
}
header a.logo:hover{
  background-color: white;
  color: black;
  transition: 0.4s;
}

header nav {
  display: flex;
  gap:15px;
}

