*{
  box-sizing: border-box;
}
body{
  color: #333;
}
img{
  max-width: 100%;

}
main{
  padding:20px;
  max-width: 700px;
  margin:0 auto;
}
hr{
  width: 100%;
  height: 5px;
  color:#333;
  background-color: #333;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;

}
p{
  display: inline;
}
header a{
  text-decoration: none;
  color:inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}
header nav {
  display: flex;
  gap:15px;

}
div.post{
  display: grid;
  margin: 50px 20px 0 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-end;
  border:1px solid red;
}
div.post div.texts h2{
  margin:0;
  font-size: 1.8rem;
}
div.post div.texts{
  padding: 16px;
}
.post-text-area{
  width: 100%;
  height: 50%;
}
div.post p.info{
  margin:6px 0;
  color:#aaa;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap:5px;
}
div.post p.info a.author{
  color:#333;

}
div.post p.summary{
  overflow: hidden;
  height: 100px;
  margin:10px 0;
  line-height: 1.3rem;
}
form.login form.register{
  max-width: 400px;
  margin: 0 auto;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
  border:1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
button{
  width: 100%;
  height: 3rem;
  display: block;
  color:#333;
  background-color: #8129D9;
  border: 0;
  color:#fff;
  padding: 5px 0;
  border-radius: 30px;
}
button:hover{
  background-color: #5D18A2;
  transition: 0.3s;
}
form.login h1, form.register h1{
  text-align: center;
}
.add-section-container{
margin-bottom:30px;
}
.close-tab{
text-align: center;
background-color: rgb(231, 227, 227);
color: #333;
transition: 0.3s;
border-radius: 100px;
width: 20%;
float:right;
margin:20px 
}
.error{
  margin:10px;
  height: 20px;
  background-color: rgba(186, 25, 25, 0.718);
  width: 40%;
  border-radius: 20px;



}
.error p{
  color:rgb(191, 183, 183);
  display: block;
  font-size: 1rem;
  justify-content: center;
  text-align: center;

}
.post .edit-pen{
  color:#212529;
  background-color:transparent;
  margin-left: 10px;

}
